* {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}

/* HEADER */
.header {
  text-align: center;
  padding: 50px 20px;
  background: #020617;
  color: white;
}

.header h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.header p {
  opacity: 0.85;
}

/* TOOLBAR */
.toolbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

select {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  background: white;
}

/* CALENDAR */
.calendar {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

.day {
  background: white;
  border-radius: 10px;
  padding: 12px;
  min-height: 110px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

.day-number {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.label {
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 6px;
}

/* WEEKDAY LABELS */
.weekdays {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  font-size: 0.85rem;
  color: #334155;
  background-color: rgb(114, 230, 114);
}

.weekdays div {
  padding: 10px 0;
}


/* LABEL COLORS */
.brand { background: #e0e7ff; color: #3730a3; }
.campaign { background: #dcfce7; color: #166534; }
.launch { background: #ffe4e6; color: #9f1239; }

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px 20px;
  font-size: 0.8rem;
  color: #475569;
}
